# Tuples Simple Questions

In [1]:
1. Write a Python program to print convert a list into a tuple.
    Data:
        x = [1,2]
    Expected Output:
        x - [1, 2]
        <class 'list'>
        y - (1, 2)
        <class 'tuple'>

In [4]:
x = [1,2]
print(f"x - ",x)
print(type(x))
y = tuple(x)
print(f"y - ",y)
print(type(y))

x -  [1, 2]
<class 'list'>
y -  (1, 2)
<class 'tuple'>

In [2]:
2. Write a Python program to create a tuple with different data types.
    Data:
        x = ("tuples",3.2, 1)
    Expected Output:
        ('tuples', 3.2, 1)

In [5]:
x = ("tuples",3.2, 1)
print(x)

('tuples', 3.2, 1)

In [3]:
3. Write a Python program to create a tuple with numbers and print the items one by one.
    Data:
        x = 5, 10, 15, 20, 25
    Expected Output:
        <class 'tuple'> 
        (5, 10, 15, 20, 25)
        5
        10
        15
        20
        25

In [24]:
x = 5, 10, 15, 20, 25
print(x)
print(type(x))
for i in x:
    print(i)

(5, 10, 15, 20, 25)
<class 'tuple'>
5
10
15
20
25

In [4]:
4. Write a Python program to convert a tuple of characters into a string.
    Data:
        x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
    Expected Output:
        volatility

In [25]:
x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
print(''.join(x))

volatality

In [5]:
5. Write a Python program to convert a tuple into a list.
    Data:
        x=(1,2,3)
    Expected Output:
        (1, 2, 3)
        [1, 2, 3]

In [26]:
x=(1,2,3)
print(x)
print(list(x))

(1, 2, 3)
[1, 2, 3]

In [6]:
6. Write a Python program to remove an element from a tuple.
    Data:
        x = ("a","b","c","d")
    Expected Output:
        ('a', 'b', 'd')

In [32]:
x = ("a","b","c","d")
y = list(x)
y.remove("c")
print(tuple(y))

('a', 'b', 'd')

In [7]:
7. Write a Python program to find the length of a tuple.
    Data:
        x = ("positions")
    Expected Output:
        ('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
        9

In [47]:
x = ("positions")
y = tuple(x)
print(y)
len(x)

('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')

9

In [8]:
8. Write a Python program to convert a tuple into a dictionary.
    Data:
        x = ((2, "w"),(3, "r"))
    Expected Output:
        {'w': 2, 'r': 3}

In [51]:
x = ((2, "w"),(3, "r"))
d = {}
for key,value in x:
    d[value] = key
print(d)

{'w': 2, 'r': 3}

In [9]:
9. Write a Python program to reverse the tuple elements.
    Data:
        x = ("Baskar")
        x = (5, 10, 15, 20)
    Expected Output:
        ('r', 'a', 'k', 's', 'a', 'B')
        (20, 15, 10, 5)

In [68]:
x = ("Baskar")
y = tuple(reversed(x))
print(y)
x1 = (5, 10, 15, 20)
y1 = list(x1)
y2 = reversed(y1)
print(tuple(y2))

('r', 'a', 'k', 's', 'a', 'B')
(20, 15, 10, 5)

In [77]:
x1 = (5, 10, 15, 20)
y1 = []
for i in range(1, len(x1)+1):
    y1.append(x1[-i])
y1

[20, 15, 10, 5]

In [10]:
10. Write a Python program to unpack a tuple in several variables.  
    Data:
        x = 4, 8, 3
    Expected Output:
        (4, 8, 3)
        15

In [92]:
x = 4,8,3
print(x)
sum = 0
for i in x:
    sum = sum + i
print(sum)

(4, 8, 3)
15

In [1]:
11. Write a Python program to create a nested tuple.
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        ('Boss', [8, 4, 6], (1, 2, 3))

In [95]:
a = (1,2,3)
b = (4,5,6)
print(a,b)
x = ("Boss", [8, 4, 6], (1, 2, 3))
x

(1, 2, 3) (4, 5, 6)

('Boss', [8, 4, 6], (1, 2, 3))

In [2]:
12. Write a Python program to convert a string into a tuple.
    Data:
        x = ("hello")
    Expected Output:
        <class 'str'>
        <class 'tuple'>

In [98]:
x = ("hello")
print(type(x))
y = tuple(x)
print(y)
print(type(y))

<class 'str'>
('h', 'e', 'l', 'l', 'o')
<class 'tuple'>

In [3]:
13. Write a Python program to access tuple elements using index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[0] is : B
        x[5] is : r

In [106]:
x = ('B','a','s','k','a','r')
for i in range(len(x)):
    print(f"x[{i}] is : {x[i]}" )
i1 = x.index('B')
print(f"x[{i1}] is : B")
i2 = x.index('r')
print(f"x[{i2}] is : r")

x[0] is : B
x[1] is : a
x[2] is : s
x[3] is : k
x[4] is : a
x[5] is : r
x[0] is : B
x[5] is : r

In [4]:
14. Write a Python program to access nested tuple elements using index. 
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        x[0][3] is : s
        x[1][1] is : 4

In [110]:
x = ("Boss", [8, 4, 6], (1, 2, 3)) 
print(f"x[0][3] is {x[0][3]}")
print(f"x[1][1] is {x[1][1]}")

x[0][3] is s
x[1][1] is 4

In [5]:
15. Write a Python program to access tuple elements using negative index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[-1] is : r
        x[-6] is : B

In [111]:
x = ('B','a','s','k','a','r')
print(f"x[-1] is {x[-1]}")
print(f"x[-6] is {x[-6]}")

x[-1] is r
x[-6] is B

In [6]:
16. Write a Python program to use + and * operators in a tuple and print the results in tuple.
    Data:
        x : (1, 12, 123)
        y : (4, 9)    
    Expected Output:
        z = x + y : (1, 12, 123, 4, 9)
        z * 3 : (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)

In [115]:
x = (1,12,123)
y = (4,9)
z = x+y
print(z)
print(z*3)

(1, 12, 123, 4, 9)
(1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)

In [7]:
17. Write a Python program to print each elements of a tuple using for loop.
    Data:
        Tuple x = ('boss','sai')
    Expected Output:
        Hello boss
        Hello bala

In [116]:
x = ('boss','sai')
for i in x:
    print(f"Hello {i}")

Hello boss
Hello sai

In [8]:
18. Write a Python program to print the count of 'p' and the index of 'l' from the given tuple using tuple methods.
    Data: 
        x = ('a', 'p', 'p', 'l', 'e')
    Expected Output:
        Count of p is : 2
        Index of l is : 3

In [119]:
x = ('a', 'p', 'p', 'l', 'e')
c = x.count('p')
print(f"Count of p is : {c}")
i  = x.index('l')
print(f"Index of l is : {i}")

Count of p is : 2
Index of l is : 3

In [9]:
19. Write a Python program to update an element of a given tuple from 7 to 77.
    Data:
        x = (1, [9, 8, 7], "boss")
    Expected Output:
        (1, [9, 8, 7], 'boss')
        (1, [9, 8, 77], 'boss')

In [120]:
x = (1, [9, 8, 7], "boss")
x[1][2] = 77
x

(1, [9, 8, 77], 'boss')

In [ ]:
20. Write a Python program to slice a tuple.
    Data: 
        x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
    Expected Output:
        (11, 22, 33, 44, 55, 66, 77, 88, 99)
        (33, 44, 55)
        (11, 22, 33, 44)
        (55, 66, 77, 88, 99)
        (55, 66, 77, 88)
        (11, 22, 33, 44, 55, 66, 77, 88, 99)

In [121]:
x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(x[:])
print(x[2:5])
print(x[:4])
print(x[4:])
print(x[4:8])
print(x[:])

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
(55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)